@{
    ViewData["Title"] = "About";
}
<div class="discover-items">
    <section  class="section" id="about">
        <div id="contact" class="container" style="direction: rtl;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-lg-6">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h2>موقع شهداء ثورة ديسمبر</h2>
                        </div>
                        <p class="lead" style="text-align: center;">
                            تم تصميم الموقع حصيصا لتوثيق شهداء الثورات السودانية لما قدموه
                            لشعب السوداني من تضحيات بلا مقابل  ,
                            يمكن من خلال الموقع اضافة شهيد بكل تفاصيله ومعلوماته و اضافة مقاطع الفيديو الخاصة بالشهداء
                            واضافة اقوال الشهداء
                            وذلك لتخليد سيرة الشهداء بيننا  والرجوع الي الوقائع في الاجيال القادمة وهذا الموقع اهداء خالص لشهداء السودان
                            <br>
                        </p>
                    </div>
                </div>
                <div class=" col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <div class="right-content">
                        <div class="thumb" style="height:400px;border-radius:10px;position:relative;display:flex;justify-content:center;overflow:auto;">
                            <video controls="controls" id="img">
                                <source src="~/assets/video/VideoAbout.mp4" type="video/mp4" id="img" autoplay loop />
                            </video>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
</div>
