@model MartyrDecember.Application.Features.MartyrVideo.Commands.UpdateMartyrVideo.UpdateMartyrVideoCommand

@{
    ViewData["Title"] = "Edit";
}

<div class="container" style="padding:150px 40px 150px 40px;direction: rtl;">
    <div class="row">
        <div class="col-12">
            <form id="contact" method="post" asp-action="Edit" enctype="multipart/form-data">
                <div class="row">
                        <input type="hidden" asp-for="UserId" class="form-control" />
                        <input type="hidden" asp-for="MarVidId" class="form-control" />
                    <div class="col-12">
                        <fieldset>
                            <label asp-for="MartyrName" class="control-label" style="color: white"></label>
                            <input asp-for="MartyrName" class="form-control" />
                            <span asp-validation-for="MartyrName" class="text-danger"></span>
                        </fieldset>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div>
                            <label asp-for="VideoUrl" class="control-label" style="color: white"></label>
                        </div>
                        @if (Model.VideoUrl != null)
                        {
                            <div class="custom-file-input" style="height:245px;border-radius:10px;position:relative;border:2px dashed #c2cdda;display:flex;align-items:center;justify-content:center;overflow:hidden;">
                                <div class="card" style="position:absolute;height:245px;display:flex;align-items:center;justify-content:center;">
                                    <video id="FromImeagPrv" src="data:video/*;base64,@(Convert.ToBase64String(Model.VideoUrl))" controls autoplay muted loop />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="custom-file-input" style="height:305px;border-radius:10px;position:relative;border:2px dashed #c2cdda;display:flex;align-items:center;justify-content:center;overflow:hidden;">
                                <div class="card" style="position:absolute;height:305px;display:flex;align-items:center;justify-content:center;">
                                    <source src="~/assets/images/course-video.mp4" style="video/*" />
                                </div>
                            </div>
                        }
                        <div class="card" style="margin-top:20px;width:100%;display:block;border:1px;border-radius:25px;color:#000;font-size:18px;text-transform:uppercase;cursor:pointer;">
                            <input asp-for="VideoUrl" type="file" name="file" id="FLFeonImage" accept="video/*"
                                   onchange="document.getElementById('FromImeagPrv').src=window.URL.createObjectURL(this.files[0])" style="border-radius: 20px;" />
                        </div>
                        <input asp-for="VideoUrl" type="hidden" accept="image/*" class="form-control" />
                        <input type="hidden" asp-for="MarVidId" />

                    </div>
                    <div class="col-lg-8 col-md-8">
                        <fieldset>
                            <label asp-for="Description" class="control-label" style="color: white"></label>
                            <br />
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control",@id="message",@style="height: 300px;"})
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </fieldset>
                    </div>
                </div><br />
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6" style="padding:10px">
                            <input type="submit" value="تعديل" class="btn btn-outline-success fa fa-edit col-12" style="padding:10px" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6" style="padding:10px">
                            <a asp-action="Index" class="btn btn-outline-info fa fa-rotate-back col-12" style="padding:10px">الرجوع للخلف</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
        }
<script>
    CKEDITOR.replace("Description");
</script>

