@model MartyrDecember.Domain.MailMessage

@{
    ViewData["Title"] = "Send";
}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

@if (ViewBag.Mgs != null)
{
    <h4>@ViewBag.Mgs</h4>
}
<hr />

<section class="section contact" data-section="section6">
    <div class="container" style="padding:150px 40px 150px 40px;direction: rtl;">
        <div class="row">
            <div class="col-lg-6 col-md-6" style="margin-bottom: 10px;">
                <form asp-action="Send" id="contact">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <fieldset>
                                <input asp-for="To" type="text" class="form-control" id="name" placeholder="Your Email" required="" style="margin: 10px;" value="" />
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <fieldset>
                                <input asp-for="Subject" type="text" class="form-control" id="email" placeholder="Subject" required="" style="margin: 10px;" value="" />
                            </fieldset>
                        </div>
                        <div class="col-12">
                            <fieldset>
                                <textarea asp-for="Body" rows="6" class="form-control" id="message" placeholder="Your message..." required="" style="margin: 10px;"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-12">
                            <fieldset>
                                <input type="submit" value="Send" class="btn btn-outline-success col-12" style="margin: 10px;" />
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-6" style="margin-bottom: 10px;">
                <div id="contact">
                    <div class="row">
                        <div class="custom-file-input" style="height:197px;border-radius:10px;position:relative;border:2px dashed #c2cdda;display:flex;align-items:center;justify-content:center;overflow:hidden;">
                            <div class="card" style="position:absolute;height:197px;display:flex;align-items:center;justify-content:center;">
                                <img src="~/assets/images/Contact.jpg" style="height: 197px;border-radius: 20px;width: 575px;" />
                            </div>
                        </div>

                        <div class="col-12">
                            <fieldset>
                                <a href="https://web.facebook.com/%D9%83%D9%84%D9%86%D8%A7-%D9%81%D9%8A-%D9%81%D8%AA%D9%8A%D9%84-%D9%84%D9%88-%D9%85%D8%A7-%D8%AC%D9%8A%D8%A8%D9%86%D8%A7-%D8%AD%D9%82-%D8%A7%D9%84%D8%B4%D9%87%D9%8A%D8%AF-107329144127742" class="btn btn-outline-success btn-block col-12" style="margin-top:10px">صفحتة كلنا في فتيل لو ما جبنا حق الشهيد علي الفيس بوك</a>
                            </fieldset>
                        </div>
                        <div class="col-12">
                            <fieldset>
                                <a href="https://facebook.com/Fomosudan" class="btn btn-outline-success btn-block col-12" style="margin-top:10px">صفحتة منظمة اسر شهداء ثورة ديسمير علي الفيس بوك</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
            <a href="~/Home/Index" class="btn btn-outline-light btn-block col-12" style="margin-top:10px">الرجوع للقائمة الرئسية</a>
            </div>
        </div>
    </div>
</section>
